
.newsletter {
  color: #555555;
  width: 341px;
  height: 393px;
  font-family: 'Source Code Pro', monospace;
  padding-top: 3px;
  border: 4px double #CACACA;
  margin: 0 auto;
}

.title {
  font-size: 35px;
  font-weight: bold;
  margin: 20px auto;
}

.pos {
  margin-bottom: 20px;
}

.smallHr {
  width: 40px;
  height: 3px;
  background-color: #5a656b;
}

.text {
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
}

.email {
  margin: 20px auto auto;
  width: 271px;
  font-family: 'Scada';
}

.signUpButton {
  margin: 0 auto;
  font-size: 23px;
  font-weight: bold;
  color: #555555;
  border: 2px solid #555555;
  font-family: 'Scada';
}